@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,900;1,500;1,600;1,700&display=swap");

/* * {
  border: 1px solid white;
} */

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

h1 {
  font-weight: 900;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 800;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

span {
  font-weight: 900;
  color: #f08e1e;
}

img {
  object-fit: cover;
}

label {
  color: gray;
}

.navbar-nav li a {
  color: white;
}
.navbar-nav li a:hover {
  color: #f08e1e;
}

#button {
  background: #f08e1e;
  color: white;
}

#button:hover {
  box-shadow: 0 0 20px #f08e1e;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #f08e1e;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.scrolled {
  background-color: #000;
  transition: 0.3s ease-in;
}
